name: Generate reading note from issue & publish to website

on:
  workflow_dispatch:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]
  push:
    branches:
      - master
    paths:
      - main.py

env:
  GITHUB_NAME: askming
  GITHUB_EMAIL: askming@gmail.com

jobs:
  sync:
    name: Generate reading note 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python script
        run: python main.py ${{ secrets.PERSONAL_READING }} ${{ github.repository }} --issue_number '${{ github.event.issue.number }}'  
        
      - name: Push md to folder
        uses: github-actions-x/commit@v2.9
        with:
          github-token: ${{ secrets.PERSONAL_READING }}
          commit-message: "Create/Refresh reading note"
          files: book/
          rebase: 'true'
          name: ${{ env.GITHUB_NAME }}
          email: ${{ env.GITHUB_EMAIL }}

      - name: Build & Deploy the book
        run: jupyter-book build ./book/

      - name: Deploy htmls to gh-pages branch 
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          github_token: ${{ secrets.PERSONAL_READING }}
          publish_dir: ./book/_build/html